[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "v$version"
version_scheme = "semver"
version_provider = "cargo"
update_changelog_on_bump = true
major_version_zero = true
version_files = ["Cargo.toml:version", "pyproject.toml:version"]
pre_bump_hooks = ["scripts/update_readme.sh", "scripts/update_docs.sh"]
