# Build Python wheels for all platforms
#
# Assumed to run as a subworkflow of .github/workflows/release.yml; specifically, as a local-artifacts job
# within `cargo-dist`.
name: "Build Binaries"

on:
  pull_request:
    paths:
      - pyproject.toml
      - .github/workflows/build-binaries.yml
  workflow_call:
    inputs:
      plan:
        required: true
        type: string

jobs:
  build-wheels:
    name: Build wheels on ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
          - os: macos-15
            target: x86_64-apple-darwin
          - os: macos-15
            target: aarch64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
      - uses: actions/checkout@v4
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          args: --release --out dist --target ${{ matrix.target }}
          manylinux: auto
      - name: Validate wheel
        run: unzip -t dist/*.whl
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.target }}
          path: dist
